*{
    box-sizing: border-box;
    /*transition: transform 2s;*/
}
*:hover{
    transform: rotate(180deg);
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #c4c4c4;
}
header{
    width: 100%;
}
.navbar{
    background-color:#dbdbdb;

    width: 100%;
    height: 4vh;
    padding: 10px 20px;
    margin: 0;

    display: flex;
    align-items: center;  
    justify-content: flex-start; 
}
.route {
    display: flex;
    gap: 20px; 
    list-style-type: none;
}
.route a {
    color: #444444; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    
}
.route a:hover {
    color: #000000; 
    text-decoration: underline;
}
.posts{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
    list-style: none;
    background-color:#dbdbdb;
    border-radius: 3vh;
    width: 30vh;
    box-shadow: 5px 8px 20px #7a7a7a;
}
.post{
    list-style: none;
    color: #000000;
    text-decoration: none;
    font-size: 3vh;
}
.post:hover{
    text-decoration: underline;
}
.show_comment{
    display: flex;
    box-shadow: 5px 8px 20px #7a7a7a;
    margin-bottom: 2vh;
    flex-direction: column;
    background-color: #e9e9e9;
    border-radius: 2vh;
    width:50%;
    transition: background-color 0.3s;
}
.show_comment:hover{
    background-color:#cecece ;
}
.button_cont{
    display: flex;
    justify-content: center;
}
.text_cont{
    margin-left: 2vh;
}
.edit_comment{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vh;
    text-decoration: none;
    color: #000000;

    border-style: none;
    border-radius: 0vh;
    border-width: 2px;
    border-bottom-left-radius: 2vh;
    
    background-color: #3cbe63;
    height: 2.5vh;
    width: 50%;

    transition: background-color 0.3s;
}
.edit_comment:hover{
    background-color: #299148;
}
.delete_comment{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vh;
    color: #000000;

    border-style: none;
    border-width: 2px;
    border-radius: 0vh;
    border-bottom-right-radius: 2vh;

    background-color: #da4141;
    height: 2.5vh;
    width: 50%;

    transition: background-color 0.3s;
}
.delete_comment:hover{
    background-color: #a13131;
}
.post_title{
    text-decoration: underline;
}
.create_comment{
    display: flex;
    box-shadow: 5px 8px 20px #7a7a7a;
    margin-bottom: 2vh;
    flex-direction: column;
    background-color: #e9e9e9;
    border-radius: 2vh;
    width: 40%;
}
.save_comment{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vh;
    color: #000000;

    border-style: none;
    border-radius: 0vh;
    border-width: 2px;
    border-bottom-right-radius: 2vh;
    border-bottom-left-radius: 2vh;
    
    background-color: #3581ad;
    height: 2.5vh;
    width: 100%;

    transition: background-color 0.3s;
}
.save_comment:hover{
    background-color: #2e7096;
}
.create_comment_input{
    border-style: solid;
    border-width: 1px;
}
.create_comment_label{
    margin-left: 1vh;
    margin-bottom: 1vh;
}
.edit_delete_post{
    display: flex;
    box-shadow: 5px 8px 20px #7a7a7a;
    margin-bottom: 2vh;
    flex-direction: row;
    background-color: #e9e9e9;
    border-radius: 2vh;
    width: 15%;
    height: 100%;
    padding: 1vh;
   
}
.edit_delete_post button{
    background-color: #da4141;
    border-style: none;
    border-top-right-radius: 1.25vh;
    border-bottom-right-radius: 1.25vh;
    font-size: 2.5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 4vh;
    width: 15vh;
    transition: background-color 0.3s;
}
.edit_delete_post button:hover{
    background-color: #a13131;
}
.edit_delete_post a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    width: 15vh;

    border-style: none;
    border-top-left-radius: 1.25vh;
    border-bottom-left-radius: 1.25vh;

    color: black;
    background-color: #3abd61;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 2.5vh;
    text-decoration:none;

    transition: background-color 0.3s;
}
.edit_delete_post a:hover{
    background-color: #299148;
}
.lebron{
    height: 3vh;
    width: 3vh;
    box-shadow: 0 0 10px #ffbb00;
}
